
@import "./utilities/variables";

@import "./utilities/mixins";

@import "./utilities/extends";

@import "./layout/header.scss";

@import "./layout/main";

@import "./layout/clientes";

@import "./layout/nosotros";

@import "./layout/servicios-grid";

@import "./layout/footer";

@import "./mq/mq";

@import "./layout/-contacto.scss";



/* Estilos Generales */
* {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
}

.logotipo {
  width: 10rem;
}



