//variables
$colormarron:rgba(255, 255, 255, 0.789);
$colorgrid:rgba(21, 66, 111, 0.309);
$colorblack:#000;

%background-cover-size{background-size: cover;
  background-repeat: no-repeat;}

  %index-heder-min-position-width{ 
     min-height: 60vh;
  background-position: center;
  width: 100%;
  position: relative;}

  %grid-servicios{   border-radius: 0.5rem;
  background-color: $colorgrid;
  padding: 1rem;}

  %width-height{  width: 5rem;
  height: 5rem;}


  //mixins

  @mixin gridarea($gridAreaUno,$gridAreaDos,$gridAreaTres,$gridAreaCuatro)  { @extend %grid-servicios;  grid-area: #{$gridAreaUno}
    /#{$gridAreaDos}/#{$gridAreaTres}/#{$gridAreaCuatro};}

/* Estilos Generales */
* {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
}




/* Header */
.index-header-preguntas {
  background-image: url(../img/preguntas.jpg);
@extend %background-cover-size;
 @extend %index-heder-min-position-width; }

.index-header-SERVICIOS {
  background-image: url(../img/servicios.jpg);
@extend %background-cover-size;
 @extend %index-heder-min-position-width;
}

.index-header-CONTACTO {
  background-image: url(../img/CONTACTO.jpg);
@extend %background-cover-size;
 @extend %index-heder-min-position-width;
}

.index-header-NOSOTROS {
  background-image: url(../img/NOSOTROS.jpg);
@extend %background-cover-size;
 @extend %index-heder-min-position-width;
}

.index-header {
  background-image: url(../img/BackgroundsNuevo.jpg);
@extend %background-cover-size;
 @extend %index-heder-min-position-width;}



/*este button es de las burbujas */
.header-contenedor-inferior-button {
  background-color:$colormarron;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: none;
}

.logotipo {
  width: 10rem;
}

/* Main */

.card-productos {
  max-width: 25rem;
  border: 1px solid $colorblack;
  border-radius: 0.5rem;
}

.card-productos button {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

/*nuestra mision*/

.fondo-mision {
  background-color:$colormarron;
  padding: 1rem 0;
  margin: 4rem 0;
}

.seccion-mision-card {
  background-color: #bac0c0;
  max-width: 25rem;
  height: auto;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid $colorblack;
}

/*clientes*/
.clientes-contenedor {
  background-color: rgb(176, 173, 173);
  padding: 0.2rem;
}

.usuario-logo {
@extend  %width-height;
}

.cliente-card {
  background-color: #bac0c0;
  max-width: 20rem;
  padding: 2rem;
  border: 1px solid $colorblack;
}

/*empresas*/
.empresas-logo {
 @extend  %width-height;
  object-fit: cover;
}

/*servicios*/

.Contenedor-servicios-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.Contenedor-servicios-grid_uno {
@include gridarea(1,1 ,2 ,2 )

}
.Contenedor-servicios-grid_dos {
@include gridarea(1,2 ,2 ,4 )
 
}
.Contenedor-servicios-grid_tres {

@include gridarea(2, 1,3 ,3 )
}
.Contenedor-servicios-grid_cuatro {
@include gridarea(2,3 ,3 ,4 )
}

/* servicios localidad*/

.container-servicios {
  background-image: url(../img/Argentina.jpg);
  background-size: cover;
  height: 30rem;
  padding: 5rem;
}

/*nosotros*/

.nosotros-contenedor {
  background-color: rgba(145, 111, 49, 0.591);
  padding: 1rem 0;
  border-radius: 0.5rem;
  max-width: 25rem;
}

.boton-contactar-nosotros {
  border: none;
  border-radius: 0.5rem;
  width: 50%;
}
/* contacto*/

.contacto-contenedor {
  background-image: url(../img/contacto-enlaces.jpg);
  height: 20rem;
  background-size: cover;
}

/*preguntas*/

/* Footer */
.logotipo-footer {
@extend  %width-height;
}

.footer {
  background-color: #bac0c0;
}

@media only screen and (min-width: 600px) {
  .seccion-mision-flex {
    flex-direction: row;
    justify-content: center;
  }

  .empresas-logo {
    width: unset;
  }

  .Contenedor-servicios-grid {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}