/*nosotros*/

.nosotros-contenedor {
  background-color: rgba(145, 111, 49, 0.591);
  padding: 1rem 0;
  border-radius: 0.5rem;
  max-width: 25rem;
}

.boton-contactar-nosotros {
  border: none;
  border-radius: 0.5rem;
  width: 50%;
}